body{
    background-color: rgb(224, 200, 155);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.error {
    color: red;
    margin: 10px 0;
}

.upload-button{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.choose-button{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}
.delete-button{
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.file-container li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px;
    border: 3px solid #dad0d0;
    border-radius: 4px;
    margin-bottom: 4px;
}
.file-container {
    padding: 0;
}
.file-container li a {
    flex-grow: 2;
    font-size: 23px;
}


#main-container {
    background-color: cadetblue;
    max-width: 500px; /* Increase max-width */
    width: 90%; /* Optionally set a percentage width for responsiveness */
    padding: 30px; /* Increase padding for more content space */
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 1);
    text-align: center;
    margin-top: 10%;
}



header{
    width:100%;
    background-color: cadetblue;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    font-size: 60px;
    color: black;
}

h1{
    font-size: 40px;
    margin: 0;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
}

.container{
    background-color: cadetblue;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 50px;
    max-width: 400px;
    width: 100%;
    margin: 50px auto;
}
p{
    font-size: 18px;
    color: rgb(27, 39, 40);
    margin-bottom: 20px;
}

.input-field{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 1px;
    font-size: 15px;
    box-sizing: border-box;
}

.btn{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-login, .btn-register, .btn-logout{
    background-color:rgb(187, 66, 66) ;
    color: aliceblue;
}
.btn-login:hover, .btn-register:hover, .btn-logout:hover{
    background-color: rgb(211, 116, 61);
}
.btn-logout{
    display: flex;
    width: 10%;

}
